@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

ul
	list-style: none
	padding: 0
	margin: 0

button,
button:active,
button:focus
	outline: none

.btn
	display: block
	border-radius: 5px
	height: rem(44)
	width: 100%
	border: none
	font-size: rem(14)
	font-weight: bold
	color: #fff
	transition: .7s
	cursor: pointer


.btn-orange
	background-color: $orange
	&:hover
		background-color: darken($orange, 10%)

.btn-green
	background-color: $green
	&:hover
		background-color: darken($green, 10%)

.h1
	font-family: $h-font

.h2
	font-family: $h-font
	font-size: rem(18)
	line-height: rem(22)

// Carusel Control

.carousel-control
	display: flex
	justify-content: center
	.carousel-control-prev,
	.carousel-control-next
		margin: 0 rem(20)
		width: rem(50)
		height: rem(50)
		opacity: 1
		position: initial
		background: url(../img/review/arrow-inactive.png) no-repeat
		background-size: contain
		&:hover
			background: url(../img/review/arrow-active.png) no-repeat
			background-size: contain
	.carousel-control-next
		transform: rotate(180deg)

// Carusel Indicators

.carousel-indicators
	position: initial
	li
		position: relative
		width: rem(40)
		height: rem(9)
		margin: 0 rem(3)
		background-color: #fff
		border: 1px solid $accent
		border-radius: 5px
		&.active
			background-color: $accent

// Modal Start

.modal
	.modal-dialog
		.modal-box, .modal-content
			position: relative
			background-color: #FFFFFF
			border-radius: 5px
			padding: rem(20) rem(15)
			.close
				display: none
				position: absolute
				right: 0
				top: 0
				background-color: transparent
				padding: 0
				border: none
				cursor: pointer
				span
					font-size: rem(48)
					line-height: initial
					font-weight: bold
					color: $grey
					padding: 0 rem(23)
			.modal-h
				color: $accent
				font-size: rem(18)
				line-height: rem(26)
				font-weight: 500
				text-align: center
				margin-bottom: rem(20)
			.modal-title
				font-size: rem(18)
				line-height: rem(26)
				font-weight: 500
				text-align: center
				margin-bottom: rem(20)
			.form-group
				display: flex
				flex-direction: column
				.form-item
					margin-bottom: rem(20)
					height: rem(44)
					border: 1px solid $grey
					color: $grey
					border-radius: 5px
					background-color: #FFFFFF
					padding: rem(14)

// Modal End

// Modal-add Start

.modal
	.modal-dialog
		&.modal-full
			max-width: rem(1000)
		.modal-content
			background-color: #FFFFFF
			padding: rem(30)
			.container-fluid
				.row
					.m-tab-img
						.m-tab-imgbox
							border: 2px solid $accent
							margin-bottom: rem(15)
							.m-img
								display: none
								&.active
									display: block
						.m-tab-box
							display: flex
							.m-tab-link
								border: 2px solid $accent
								padding: rem(10)
								margin-right: rem(15)
					.m-text
						.close
							top: rem(-25)
							right: rem(-25)
						.title
							font-family: $h-font
							font-size: rem(24)
							line-height: rem(32)
							font-weight: bold
							margin-bottom: rem(20)
						.mark-box
							display: flex
							margin-bottom: rem(20)
							.m-rev-mark
								flex: 0 0 auto
								margin-right: rem(10)
							.m-rev-mark-text
								flex: 0 0 auto
								font-size: rem(14)
								line-height: rem(14)
								color: $orange
						.m-text-about
							font-size: rem(14)
							line-height: rem(20)
							p
								margin-bottom: rem(15)
						.m-buy-box
							display: flex
							align-items: center
							margin-bottom: rem(15)
							.price-text
								flex: 0 0 auto
								color: #222222
								margin-right: rem(30)
								font-size: rem(18)
								font-weight: 500
							.price
								flex: 0 0 auto
								color: $green
								font-size: rem(40)
								font-weight: bold
								line-height: rem(47)
								margin-right: rem(25)
						.m-adds-form
							display: flex
							width: 100%
							.form-item
								width: 100%
								height: rem(44)
								border: 1px solid $grey
								color: $grey
								border-radius: 5px
								background-color: #FFFFFF
								padding: rem(14)
								margin-bottom: rem(15)
								margin-right: rem(10)
						.m-share-box
							display: flex
							align-items: center
							.text-share
								font-size: rem(14)
								margin: 0
								margin-right: rem(15)
							.m-share-link
								max-width: rem(32)

// Modal-add End

// Header Start

header
	.nav-sticky
		display: flex
		position: fixed
		justify-content: center
		width: 100%
		background-color: #fff
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1)
		z-index: 10000
		.navbar-desctop
			display: none
			max-height: rem(60)
			max-width: rem(1140)
			width: 100%
			justify-content: space-between
			align-items: center
			.header-logo
				img
					max-width: rem(154)
			.header-nav
				ul
					display: flex
					justify-content: center
					li
						a
							display: block
							height: rem(60)
							color: $text
							font-size: rem(14)
							line-height: rem(60)
							vertical-align: middle
							font-weight: 500
							padding: 0 rem(10)
							&:hover
								text-decoration: none
								background-color: rgba(0,0,0,0.1)

			.header-call
				display: flex
				justify-content: space-between
				align-items: center
				.btn
					display: block
					height: rem(35)
					width: rem(154)
					line-height: rem(35)
					text-align: center
					vertical-align: middle
					color: #fff
					margin-left: rem(-15)
					padding: 0 rem(11)
					&:hover
						text-decoration: none
						background-color: darken($orange, 10%)
				.header-phones
					margin-right: rem(-15)
					font-size: rem(14)
					font-weight: 500
					p
						margin: 0
		.navbar-mobile
			// height: rem(60)
			padding: rem(5) rem(15)
			.mob-box
				display: flex
				align-items: center
				.icon
					position: relative
					width: rem(40)
					height: rem(50)
					cursor: pointer
					margin-right: rem(30)
					.hamburger
						width: rem(30)
						height: rem(2)
						background-color: $accent
						position: absolute
						top: 50%
						left: 50%
						transform: translate(-50%, -50%)
						box-shadow: 0 1px 2px rgba(0,0,0,.2)
						transition: .1s
					.hamburger:before, .hamburger:after
						content: ""
						width: rem(30)
						height: rem(2)
						background-color: $accent
						position: absolute
						box-shadow: 0 1px 2px rgba(0,0,0,.2)
						transition: .3s
					.hamburger:before
						top: rem(-8)
					.hamburger:after
						top: rem(8)
					&.active
						.hamburger
							background-color: rgba(0,0,0,0)
							box-shadow: 0 1px 2px rgba(0,0,0,0)
					&.active
						.hamburger:before
							top: 0
							transform: rotate(45deg)
					&.active
						.hamburger:after
							top: 0
							transform: rotate(135deg)
				.header-logo
				.header-phone-btn
					margin-left: rem(30)
			#menu
				display: none
				li
					a
						display: block
						text-align: center
						padding: rem(5) 0
						border-bottom: 1px solid $grey
						color: $text
	.header-wellcome
		padding-top: rem(80)
		padding-bottom: rem(30)
		.container
			.row
				.plus-box
					.h1-desctop
						display: none
						font-size: rem(36)
						line-height: rem(44)
						width: rem(476)
						margin-bottom: rem(20)
						position: relative
						&:after
							content: "новинка!"
							display: block
							position: absolute
							height: rem(26)
							width: rem(104)
							border-radius: 5px
							background-color: $red
							color: #fff
							font-size: rem(14)
							line-height: rem(26)
							font-weight: 500
							text-align: center
							top: rem(-10)
							right: rem(-15)
					.utp-header
						font-family: $h-font
						font-size: rem(18)
						line-height: rem(24)
						font-weight: bold
						margin-bottom: rem(15)
					.plus-block
						.list-header
							font-size: rem(18)
							line-height: rem(30)
							font-weight: 500
						ul
							li
								display: flex
								margin-bottom: rem(15)
								i
									width: rem(24)
									height: rem(24)
									background: url(../img/header/checked.png) no-repeat 50% 50%
									margin-right: rem(10)
									flex: 0 0 auto
								p
									font-size: rem(14)
									line-height: rem(18)
									margin: 0
								
				.device-box
					position: relative
					.img-device
						// position: absolute
						bottom: 0
						height: rem(475)
						width: rem(177)
						margin: 0 auto
					.img-warranty
						position: absolute
						width: rem(73)
						left: rem(60)
						top: rem(200)
				.form-box
					.h1-mobile
						font-size: rem(18)
						line-height: rem(24)
						margin-bottom: rem(20)
						position: relative
						&:after
							content: "новинка!"
							display: block
							position: absolute
							height: rem(26)
							width: rem(75)
							border-radius: 5px
							background-color: $red
							color: #fff
							font-size: rem(14)
							line-height: rem(26)
							font-weight: 500
							text-align: center
							top: 0
							right: 0
					.form-header
						width: 100%
						border-radius: 17px
						background-color: #FFFFFF
						box-shadow: 0 0 30px 0 rgba(0,0,0,0.3)
						text-align: center
						padding: rem(20) rem(15)
						margin-bottom: rem(20)
						.cta
							font-size: rem(18)
							line-height: rem(24)
							font-weight: bold
							margin-bottom: rem(15)
							span
								color: $green
						.price
							padding: 0
							margin-bottom: rem(15)
							.price-item
								display: flex
								justify-content: center
								color: #4F4444
								font-weight: bold
								font-size: rem(18)
								height: rem(43)
								line-height: rem(43)
								margin-bottom: rem(20)
								.new-price
									color: $red
									font-size: rem(24)
									font-weight: bold
									margin: 0 rem(10)
									border: 1px solid $red
									height: rem(43)
									width: rem(126)
									border-radius: 5px
								.old-price
									font-size: rem(18)
									font-weight: 50								
									position: relative
									&:after
										content: ""
										display: block
										width: rem(1)
										height: rem(43)
										background-color: $red
										position: absolute
										top: 0
										left: 30%
										transform: rotate(32deg)
						.form-group
							display: flex
							flex-direction: column
							.form-item
								width: 100%
								margin-bottom: rem(20)
								height: rem(44)
								border: 1px solid $grey
								color: $grey
								border-radius: 5px
								background-color: #FFFFFF
								padding: rem(14)
							.header-btn
								font-size: rem(16)
								font-weight: bold

// Header End

// Tips Start

.tips
	padding: rem(20)
	background-color: #fff
	.container
		.row
			justify-content: space-between
			// flex-wrap: nowrap
			.tips-container
				display: flex
				flex-direction: row
				align-items: center
				margin-bottom: rem(15)
				img
					flex: 0 0 auto
					width: rem(64)
					height: rem(64)
					margin-right: rem(10)
				p
					font-size: rem(18)
					font-weight: 500
					line-height: rem(24)
					margin: 0

// Tips End

// Video-plant Start

.video-plant
	.container
		border-top: 1px solid $grey
		border-bottom: 1px solid $grey
		padding-top: rem(20)
		padding-bottom: rem(20)
		.row
			.video
				.video-container
					position: relative
					.embed-responsive
						border-radius: 15px
			.text
				.h2
					font-size: rem(18)
					line-height: rem(24)
					margin-bottom: rem(10)
				.cta
					font-family: $h-font
					font-size: rem(14)
					line-height: rem(18)
					font-weight: bold

// Video-plant End

// Specification Start

.tips-box,
.product-box
	border: 4px solid $light-blue

.specification
	padding-top: rem(20)
	padding-bottom: rem(20)
	.container
		.row
			.h2
				text-align: center
				margin-bottom: rem(20)
		.row
			.spec-img
				.tab-img
					display: none
					&.active
						display: block
					img
						margin: 0 auto
			.spaec-details
				.spaec-details-box
					.tabs
						.title
							font-family: $h-font
							font-size: rem(18)
							line-height: rem(22)
							font-weight: bold
						.tabs-container
							display: flex
							width: 100%
							justify-content: space-between
							margin-bottom: rem(15)
							.tab
								&.active
									.tablink
										background-color: $accent
										color: #FFFFFF
								.tablink
									display: block
									font-size: rem(14)
									height: rem(34)
									width: rem(84)
									line-height: rem(34)
									font-weight: 500
									border: 2px solid $accent
									border-radius: 5px
									background-color: #FFFFFF
									color: #444
									text-align: center
									&:hover
										text-decoration: none
										background-color: $accent
										color: #FFFFFF
					.title
						font-family: $h-font
						font-size: rem(18)
						font-weight: bold
						margin-bottom: rem(10)
					ul
						li
							display: flex
							flex-direction: column
							width: 100%
							justify-content: space-between
							font-size: rem(14)
							margin-bottom: rem(15)
							// align-items: flex-end
							&:last-child
								// margin-bottom: 0
							.label
								flex: 0 0 auto
								font-weight: bold
							.separator
								border-bottom: 1px dotted $text
								width: 100%
							.valey
								flex: 0 0 auto
								text-align: right
							.tab-kg
								display: none
								&.active
									display: block
			.spaec-tips
				display: flex
				flex-direction: column
				justify-content: space-between
				.tips-box
					padding: rem(25) rem(10)
					margin-bottom: rem(20)
					li
						display: flex
						margin-bottom: rem(15)
						align-items: center
						i
							width: rem(52)
							height: rem(52)
							margin-right: rem(10)
							flex: 0 0 auto
							margin-right: rem(30)
						p
							margin: 0
							font-family: $h-font
							font-weight: bold
							font-size: rem(18)
					li:first-child
						i
							background: center/contain url(../img/specification/check.png) no-repeat
					li:nth-child(2)
						i
							background: center/contain url(../img/specification/bolt.png) no-repeat
					li:last-child
						margin: 0
						i
							background: center/contain url(../img/specification/construction-and-tools.png) no-repeat
				.product-box
					padding: rem(20) rem(10)
					.title
						font-family: $h-font
						font-size: rem(18)
						font-weight: bold
						margin-bottom: rem(10)
						position: relative
						&:after
							content: "?"
							font-size: rem(16)
							color: $orange
							position: absolute
							width: rem(24)
							height: rem(24)
							line-height: rem(24)
							text-align: center
							vertical-align: middle
							border: 1px solid $orange
							border-radius: 100%
							font-weight: 500
							top: 0
							right: 0
					.tab-product
						display: none
						&.active
							display: block
						li
							display: flex
							width: 100%
							justify-content: space-between
							font-size: rem(14)
							margin-bottom: rem(15)
							align-items: flex-end
							&:last-child
								margin-bottom: 0
							.label
								flex: 0 0 auto
								font-weight: bold
							.separator
								border-bottom: 1px dotted $text
								width: 100%
							.tab-speac
								color: $green
								flex: 0 0 auto
			

// Specification End

// Akciya Start

.akciya
	padding-top: rem(20)
	.container
		.akciya-box
			background-color: #FFFFFF
			margin-bottom: rem(20)
			border-radius: 9px
			overflow: hidden
			.h2
			.akciya-present
				display: flex
				flex-direction: column
				width: 100%
				padding: rem(15)
				.akciya-img
					border: 1px solid #7BCCF0
					border-radius: 5px
					max-height: rem(182)
					padding: rem(20)
					flex: 0 1 auto
					margin-bottom: rem(15)
					img
						max-width: rem(120)
						margin: 0 auto
					.title
						margin: 0
						text-align: center
						font-size: rem(18)
						font-weight: bold
				.akciya-timer
					background: url(../img/akciya/timer-bg.png) no-repeat center/cover
					flex: 1 0 auto
					border-radius: 5px
					padding: rem(10)
					text-align: center
					.timer-title
						color: #FFFFFF
						font-size: rem(18)
						width: 100%
						font-weight: bold
						margin-bottom: rem(7)
					.timer
						display: flex
						justify-content: space-around
						width: 100%
						color: #FFFFFF
						.timer-points, .delimiter
							font-size: rem(60)
							line-height: rem(71)
							font-weight: bold
						.timer-points
							min-width: rem(65)
						.timer-text
							font-size: rem(18)
							line-height: initial
						.delimiter
							display: none
			.akciya-form
				display: flex
				flex-direction: column
				background-color: $orange
				padding: rem(15)
				width: 100%
				margin: 0 rem(15)
				border-radius: 0 0 9px 9px
				input
					height: rem(44)
					border: 1px solid #FFFFFF
					background-color: #FFFFFF
					border-radius: 5px
					color: $grey
					padding: rem(14)
					font-size: rem(14)
					margin-right: rem(30)
					width: 100%
					max-width: rem(340)
					margin-bottom: rem(15)
				.btn-orange
					border: 3px solid #FFFFFF

// Akciya End

// Video-instructions Start

.video-instructions
	background-color: #EEFAFF
	padding: rem(30)
	.container
		.row
		 	.h2
		 		text-align: center
		 		margin-bottom: rem(30)
		 	.carousel
		 		.carousel-inner
		 			margin: 0
		 			.carousel-item
			 			.video-container
					 		margin-bottom: rem(15)
					 		border-radius: 9px
					 		overflow: hidden
					 		position: relative
							.plh-video
								cursor: pointer
							.btn-video
								position: absolute
								width: rem(126)
								height: rem(126)
								background: top url(../img/video-instructions/play-1.png) no-repeat
								top: 50%
								left: 50%
								transform: translate(-50%, -50%)
								cursor: pointer
								z-index: 50
								&:hover
									background: bottom url(../img/video-instructions/play-1.png) no-repeat
					 	.title
					 		font-family: $h-font
					 		font-size: rem(18)
					 		font-weight: bold
					 		line-height: rem(24)
					 		min-height: rem(72)

// Video-instructions End

// Catalog Start

.catalog
	background-color: $accent
	padding-top: rem(15)
	padding-bottom: rem(15)
	.container
		.row
			.h2
				color: #FFFFFF
				margin-bottom: rem(10)
				text-align: center
			.catalog-box
				display: flex
				flex-direction: column
				background-color: #FFFFFF
				box-shadow: 0 0 rem(48) 0 rgba(0,0,0,0.3)
				border-radius: 9px
				padding: rem(10)
				margin: rem(15)
				width: 100%
				.cat-img-container
					.cat-img
						display: none
						&.active
							display: block
					img
						max-width: 95%
						margin: 0 auto
				.cat-choise
					.cat-choise-complect
						padding-bottom: rem(20)
						margin-bottom: rem(30)
						border-bottom: 2px solid #D8D8D8
						.tabs
							.title
								font-family: $h-font
								font-size: rem(14)
								margin-bottom: rem(10)
								font-weight: bold
							.cat-tabs-container
								display: flex
								width: 100%
								justify-content: space-between
								margin-bottom: rem(30)
								.cat-tab
									&.active
										.cat-tablink
											background-color: $accent
											color: #FFFFFF
									.cat-tablink
										display: block
										font-size: rem(14)
										height: rem(42)
										width: rem(75)
										line-height: rem(42)
										border: 2px solid $accent
										border-radius: 5px
										background-color: #FFFFFF
										color: #444
										font-weight: bold
										text-align: center
										&:hover
											text-decoration: none
											background-color: $accent
											color: #FFFFFF
						.cat-price
							.price
								.pr-desc
									display: none
								.cat-price-item
									display: none
									flex-wrap: wrap
									justify-content: space-between
									align-items: center
									height: 100%
									color: #4F4444
									font-weight: bold
									font-size: rem(18)
									line-height: rem(43)
									&.active
										display: flex
									.pr-mob
										font-size: rem(14)
										margin: 0
									.cat-price-container
										display: flex
										margin-bottom: rem(10)
										.new-price
											color: $green
											font-size: rem(40)
											font-weight: bold
											margin-right: rem(10)
											font-weight: bold
										.old-price
											font-size: rem(14)
											font-weight: 50								
											position: relative
											&:after
												content: ""
												display: block
												width: rem(1)
												height: rem(41)
												background-color: $red
												position: absolute
												top: 0
												left: 40%
												transform: rotate(32deg)
									.btn-cat
										// margin-left: rem(-10)
					.catalog-title
						font-family: $h-font
						font-size: rem(18)
						line-height: rem(22)
						font-weight: bold
						margin-bottom: rem(10)
					.cat-choise-single
						display: flex
						flex-direction: column
						justify-content: space-between
						width: 100%
						.cat-tank-container
							.tank-title
								font-size: rem(14)
								font-weight: bold
								margin-bottom: rem(10)
							.cat-tank-tabs
								.cat-tank-img
									display: flex
									justify-content: space-between
									margin-bottom: rem(10)
									.tank-img
										display: none
										padding: rem(20)
										border: 1px solid $grey
										border-radius: 5px
										margin-right: rem(10)
										&.active
											display: block
										img
											width: rem(125)
											margin: 0 auto
									.cat-tank-tab
										display: flex
										flex-direction: column
										justify-content: space-between
										.tank-tab
											&.active
												.tank-tablink
													background-color: $accent
													color: #FFFFFF
											.tank-tablink
												display: block
												font-size: rem(14)
												height: rem(40)
												width: rem(50)
												line-height: rem(40)
												border: 2px solid $accent
												border-radius: 5px
												background-color: #FFFFFF
												color: $accent
												text-align: center
												&:hover
													text-decoration: none
													background-color: $accent
													color: #FFFFFF	
								.cat-tank-price
									.price-tank
										display: none
										&.active
											display: block
										.price
											font-family: $h-font
											font-size: rem(28)
											font-weight: 500
											color: $accent
											text-align: center
											margin-bottom: rem(10)
											span
												font-size: rem(14)
												color: $grey
										.btn-tank
											color: $orange
											background-color: #FFFFFF
											border: 2px solid $orange
											height: rem(34)
											&:hover
												background-color: $orange
												color: #FFFFFF
						.cat-col-container
							.col-title
								font-size: rem(14)
								font-weight: bold
								margin-bottom: rem(10)
							.col-box
								.col-img
									padding: rem(20)
									border: 1px solid $grey
									border-radius: 5px
									margin-bottom: rem(10)
									img
										width: rem(125)
										margin: 0 auto
								.price-col
									.price
										font-family: $h-font
										font-size: rem(28)
										font-weight: 500
										color: $accent
										text-align: center
										margin-bottom: rem(10)
										span
											font-size: rem(14)
											color: $grey
									.btn-col
										color: $orange
										background-color: #FFFFFF
										border: 2px solid $orange
										height: rem(34)
										&:hover
											background-color: $orange
											color: #FFFFFF
				.cat-complect
					border-left: 2px solid #D8D8D8
					padding-left: rem(25)
					.title
						font-family: $h-font
						font-size: rem(25)
						font-weight: bold
					ul
						li
							display: flex
							margin-bottom: rem(45)
							align-items: center
							img
								width: rem(48)
								margin-right: rem(30)
							p
								margin: 0
								font-family: $h-font
								font-weight: bold
								font-size: rem(18)
								line-height: rem(22)

// Catalog End

// Book Start

.book
	background-color: #EEFAFF
	padding-top: rem(60)
	.container
		.row
			.book-form-box
				padding-bottom: rem(105)
				.h2
					margin-bottom: rem(11)
				.book-title
					font-size: rem(24)
					font-weight: 500
					line-height: rem(28)
					margin-bottom: rem(30)
				.book-form
					max-width: rem(360)
					padding: rem(30) rem(20)
					border-radius: 5px
					background-color: #FFFFFF
					box-shadow: 0 0 rem(48) 0 rgba(0,0,0,0.3)
					.book-form-title
						font-size: rem(18)
						font-weight: bold
						line-height: rem(26)
						text-align: center
						margin-bottom: rem(30)
					.book-form-group
						display: flex
						flex-direction: column
						margin-bottom: rem(10)
						.b-form-item
							width: 100%
							margin-bottom: rem(20)
							height: rem(44)
							border: 1px solid $grey
							color: $grey
							border-radius: 5px
							background-color: #FFFFFF
							padding: rem(14)
					.book-police
						font-size: rem(12)
						line-height: rem(17)
						color: $grey
			.book-book
				display: flex
				align-items: flex-end

// Book End

// Galery Start

.gallery
	padding-top: rem(30)
	padding-bottom: rem(40)
	background-color: #FAFDFF
	.container
		.row
			.h2
				margin-bottom: rem(30)
				width: 100%
				text-align: center
		.tabs-gallery
			display: flex
			width: 100%
			justify-content: center
			margin-bottom: rem(20)
			.tab-g
				margin: 0 rem(9)
				.gal-tablink
					display: block
					background-color: #FFFFFF
					border: 1px solid $accent
					border-radius: 5px
					width: rem(155)
					height: rem(36)
					color: $accent
					font-size: rem(14)
					line-height: rem(36)
					text-align: center
					&:hover
						text-decoration: none
						color: #FFFFFF
						background-color: $accent
				&.active
					.gal-tablink
						background-color: $accent
						color: #FFFFFF
		.tab-content-g
			.tab-gallery-box
				display: none
				.carousel
					.carousel-inner
						margin-bottom: rem(30)
						.carousel-item
							.row
								.one-column
									display: flex
									justify-content: space-between
									img
										transition: all .8s ease-out
										&:hover
											transform: scale(1.1)
									.fl-box
										display: flex
										flex-direction: column
										justify-content: space-between
									
								.second-column
									display: flex
									flex-wrap: wrap
									justify-content: space-between
									img
										transition: all .8s ease-out
										&:hover
											transform: scale(1.1)
									.one
										align-self: flex-start
									.two
										align-self: flex-end
									.three
										align-self: flex-end
					.carousel-indicators
						position: initial
						li
							position: relative
							width: rem(40)
							height: rem(9)
							margin: 0 rem(3)
							background-color: #fff
							border: 1px solid $accent
							border-radius: 5px
							&.active
								background-color: $accent
				&.active
					display: block
// Galery End

// Review Start

.review
	padding: rem(60) 0
	.container
		.row
			.h2
				text-align: center
				margin-bottom: rem(30)
			.carousel
				.carousel-inner
					margin-bottom: rem(30)
					.carousel-item
						.row
							.rev-video
								flex: 0 0 auto
								.rev-video-container
									position: relative
									.rev-video-caption
										position: absolute
										width: 100%
										bottom: 0
										padding: rem(10)
										background-color: rgba(255,255,255,.7)
										.caption-t
											font-size: rem(14)
											line-height: rem(16)
											margin: 0
							.rev-photo
								display: flex
								width: 100%
								border-radius: 5px
								background-color: #FFFFFF
								.rev-photo-img,
								.rev-photo-caption
									border: 4px solid $light-blue
								.rev-photo-img
									background: url(../img/review/review-1.jpg) no-repeat center center
									background-size: cover
									border-right: none
								.rev-img-one
									background: url(../img/review/review-1.jpg) no-repeat center center
								.rev-img-two
									background: url(../img/review/review-2.jpg) no-repeat center center
								.rev-img-three
									background: url(../img/review/review-3.jpg) no-repeat center center
								.rev-img-four
									background: url(../img/review/review-4.jpg) no-repeat center center
								.rev-img-five
									background: url(../img/review/review-5.jpg) no-repeat center center
								.rev-img-six
									background: url(../img/review/review-6.jpg) no-repeat center center
								.rev-img-seven
									background: url(../img/review/review-7.jpg) no-repeat center center
								.rev-img-eight
									background: url(../img/review/review-8.jpg) no-repeat center center
								.rev-img-nine
									background: url(../img/review/review-9.jpg) no-repeat center center
								.rev-img-ten
									background: url(../img/review/review-10.jpg) no-repeat center center
								.rev-photo-caption
									border-left: none
									padding: rem(15) rem(20) rem(20)
									.rev-name
										position: relative
										color: $accent
										font-weight: bold
										font-size: rem(18)
										margin-bottom: rem(15)
										.rev-date
											position: absolute
											font-size: rem(14)
											font-weight: initial
											color: #000
											top: rem(-10)
											right: rem(-10)
									.mark-box
										display: flex
										margin-bottom: rem(15)
										.rev-mark
											flex: 0 0 auto
											margin-right: rem(5)
										.rev-mark-text
											font-size: rem(12)
											line-height: rem(14)
									.rev-text
										font-size: rem(14)
										line-height: rem(20)
										width: 100%
				.carousel-control
					display: flex
					justify-content: center
					.carousel-control-prev,
					.carousel-control-next
						margin: 0 rem(20)
						width: rem(50)
						height: rem(50)
						opacity: 1
						position: initial
						background: url(../img/review/arrow-inactive.png) no-repeat
						background-size: contain
						&:hover
							background: url(../img/review/arrow-active.png) no-repeat
							background-size: contain
					.carousel-control-next
						transform: rotate(180deg)

// Review End

// Adds Start

.adds
	padding: rem(30) 0
	background-color: #F2F2F2
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5)
	.container
		.row
			.h2
				width: 100%
				text-align: center
				margin-bottom: rem(5)
			.title
				font-family: $h-font
				font-size: rem(36)
				line-height: rem(42)
				font-weight: bold
				width: 100%
				color: $accent
				text-align: center
				margin-bottom: rem(40)
			.adds-line
				display: flex
				justify-content: space-between
				width: 100%
				margin-bottom: rem(30)
				.adds-box
					border-radius: 5px
					background-color: #FFFFFF
					box-shadow: 0 0 rem(20) 0 rgba(0,0,0,0.2)
					max-width: rem(270)
					padding: rem(15)
					.adds-img
						width: rem(200)
						margin: 0 auto
						margin-bottom: rem(20)
					.adds-name
						font-family: $h-font
						font-weight: bold
						font-size: rem(14)
						line-height: rem(14)
						margin-bottom: rem(10)
					.adds-text
						font-size: rem(14)
						line-height: rem(18)
						margin-bottom: rem(10)
					.adds-prise
						.price
							font-family: $h-font
							font-size: rem(28)
							font-weight: 500
							color: $accent
							text-align: center
							margin-bottom: rem(15)
							span
								font-size: rem(14)
								color: $grey
					.adds-btn
						height: rem(40)

// Adds End

// About Start

.about
	padding: rem(30) 0
	background-color: #FAFDFF
	.container
		.row
			.h2
				text-align: center
				margin-bottom: rem(20)
			.about-step
				.about-img
					width: 100%
					max-width: rem(48)
					margin: 0 auto
					margin-bottom: rem(18)
				.about-title
					font-size: rem(14)
					line-height: rem(24)
					text-align: center

// About End

// Faq Start

.faq
	padding: rem(60) 0 rem(50)
	.container
		.row
			.h2
				text-align: center
				margin-bottom: rem(30)
			.faq-accord
				.accordeon
					.card
						position: relative
						display: flex
						flex-direction: column
						font-size: rem(14)
					.x-collapse
						.card-header
							background-color: #f2f2f2
							padding: rem(17) rem(20)
							border-radius: 5px
							margin-bottom: rem(10)
							.title
								font-weight: bold
								margin: 0
								.x-link
									color: $text
									display: flex
									&:before
										content: "-"
										color: $accent
										font-weight: bold
										width: rem(20)
										height: rem(20)
										line-height: rem(20)
										font-size: rem(18)
									&.collapsed:before
										content: "+"
									&:hover
										text-decoration: none
						.collapse
							line-height: rem(18)
							.card-block
								p
									margin-bottom: rem(20)
								.link
									margin-right: rem(15)
									color: $green
			.faq-form
				.faq-form-container
					border: rem(5) solid #D7EFFA
					border-radius: 5px
					background-color: #FFFFFF
					padding: rem(30)
					.faq-title
						font-family: $h-font
						font-weight: bold
						font-size: rem(24)
						line-height: rem(29)
						text-align: center
						margin-bottom: rem(15)
					.faq-cta
						font-size: rem(14)
						line-height: rem(18)
						text-align: center
						margin-bottom: rem(20)
					.form-group
						display: flex
						flex-direction: column
						.form-item
							width: 100%
							height: rem(44)
							border: 1px solid $grey
							color: $grey
							border-radius: 5px
							background-color: #FFFFFF
							padding: rem(14)
							margin-bottom: rem(15)
						.com-item
							height: initial

// Faq End

// Footer Start

.footer
	background-color: $accent
	padding: rem(40) 0 rem(30)
	.container
		.row
			.footer-logo
			.footer-contacts, .footer-time, .footer-social, .footer-consultation
				color: #FFFFFF
				.f-title
					font-size: rem(18)
					line-height: rem(21)
				.cont-box
					.cont-item
						display: flex
						img
							width: rem(16)
							height: rem(16)
							margin-right: rem(10)
						.cont
							font-size: rem(14)
							line-height: rem(16)
							margin-bottom: rem(13)
						a
							color: #FFFFFF
			.footer-social
				.f-soc-box
					display: flex
					.soc-item
						margin-right: rem(10)
						&:last-child
							margin: 0
			.footer-consultation
				.f-title
					font-weight: bold
					text-align: center
					margin: rem(20) 0
				.f-btn
					color: $green
					font-size: rem(14)
					font-weight: bold
					background-color: #FFF
					&:hover
						background-color: darken(#FFFFFF, 10%)

// Footer End

// Support

header
	// display: none
.tips
	// display: none
.video-plant
	// display: none
.specification
	// display: none
.akciya
	// display: none
.video-instructions
	// display: none
.catalog
	// display: none
.book
	display: none
.gallery
	display: none
.review
	display: none
.adds
	display: none
.about
	display: none
.faq
	display: none
.footer
	display: none

@import "media" // Always at the end